<%= form_for ([@restaurant, @booking]) do |f| %>
	
	<div class="field">
		<%= f.label :party %>
		<%= f.number_field :party %>
	</div>
	<div class="field">
		<%= f.label :date %>
		<%= f.datetime_field :date %>
	</div>
	<div class="actions"><%=f.submit%></div>
	
<%end%>