<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>


<%= form_for [@restaurant, @booking] do |f| %>
	<!-- binding.pry -->
	<div class="field">
		<%= f.label :party %>
		<%= f.number_field :party %>
	</div>
	<div class="field">
		<%= f.label :datetime %>
		<%= f.datetime_field :date %>
	</div>
	<div class="actions"><%=f.submit%></div>
<%end%>