<table>
	<tr>
		<td>
			<%= @restaurant.name %>
			<%= @restaurant.address %>

			<%= @restaurant.neighbourhood %>

			<%= @restaurant.price_min %>
			<%= @restaurant.price_max %>
			<%= @restaurant.summary %>
			<%= @restaurant.menu %>
		</td>
	</tr>
</table>

<%= link_to "Create Booking", "#{@restaurant.id}/bookings/new" %>

