<table>
	<tr>
		<td>
			<%= @restaurant.name %>
			<%= @restaurant.address %>

			<%= @restaurant.neighbourhood %>

			<%= @restaurant.price_min %>
			<%= @restaurant.price_max %>
			<%= @restaurant.summary %>
			<%= @restaurant.menu %>
		</td>
	</tr>
</table>

<%= link_to "Create Booking", "#{@restaurant.id}/bookings/new" %>

<% if @bookings %>
	Bookings
	<% @bookings.each do |b| %>
	Party Size
		<%= b.party %>
		<%= b.date %>
	<% end %>
<% end %>

<% if @bookedUsers %>
	<% @bookedUsers.each do |b| %>
		<%= b.email %>
		<%= b.points %>
	<% end %>
<% end %>